@font-face {
    font-family: 'Helvetica-Condensed-Black-Se';
    src: url('./S-CoreDream/Helvetica-Condensed-Black-Se.ttf');
    src: url('./S-CoreDream/Helvetica-Condensed-Black-Se.woff');
    font-weight: normal;
  font-style: normal;
}