@font-face {
    font-family: 'Univers 55';
    src: url('Univers.eot');
    src: url('Univers.eot?#iefix') format('embedded-opentype'),
        url('Univers.woff2') format('woff2'),
        url('Univers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

